@model TimeTracker.Models.CreateProjectModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<html>
<head>
    
</head>
<body>
    <div class="container">
        <form asp-action="Create">
            <div class="form-horizontal">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectName" class="col-md-2 control-label" ></label>
                    <div class="col-md-10">
                        <input asp-for="ProjectName" class="form-control" id="ProjectName" type="text" placeholder="Enter project name"/>
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TaskName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="TaskName" class="form-control" id="TaskName" type="text" placeholder="Enter task name" />
                        <span asp-validation-for="TaskName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="StartDate" class=" form-control" id="StartDate" type="text" placeholder="dd/mm/yyyy hh:mm" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="EndDate" class="form-control" id="EndDate" type="text" placeholder="dd/mm/yyyy hh:mm" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClientName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ClientName" class="form-control" id="ClientName" type="text" placeholder="Enter client name" />
                        <span asp-validation-for="ClientName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClientAdress" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ClientAdress" class="form-control" id="ClientAdress" type="text" placeholder="Enter client adress" />
                        <span asp-validation-for="ClientAdress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

    </div>
    

</body>
</html>

@*   DatePicker popup
    <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control" />
    <div class="input-group-addon glyphicon"></div>
</div>*@

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
